.venv
__pycache__
src/train/outputs/
output*
data
mask
preprocess/data-analysis/*.npy
preprocess/data-analysis/*.png
preprocess/data-analysis/*.json
preprocess/bbox*
*cache
mytest
evaluation/mytest_audit_dino_v1/filtered_roots
my-autoresearch/
README.md
